<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
                <!-- google-font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">
                <!-- /google-font -->
                <!-- font-awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer">
                <!-- /font-awesome -->
    <link rel="stylesheet" href="css/style.css">
    <title>Boolzapp</title>
</head>
<body>
    <div class="container">
            <!-- VUEJs-DOOR -->
        <div id="app">
                    <!-- CONTACTS-LIST -->
            <div class="left_box">
                <div class="contacts_header">
                    <div class="user_avatar">
                        <img src="img/01.jpg" alt="friend">
                    </div>
                    <div class="friend_name">
                        <span>Marcof</span>
                    </div>
                            <!-- user-utilities -->
                    <div class="right_header_icons">
                        <div><i class="fa-solid fa-magnifying-glass"></i></div>
                        <div><i class="fa-solid fa-paperclip"></i></div>
                        <div><i class="fa-solid fa-ellipsis-vertical"></i></div>
                    </div>
                            <!-- /user-utilities -->
                </div>
                <div class="user">
                    <div class="alerts">
                        <div class="alert_icon">
                            <i class="fa-solid fa-bell-slash"></i>
                        </div>
                        <div class="friend_name">
                            <span>Ricevi notifiche di nuovi messaggi</span>
                            <a><small>Attiva notifiche desktop</small></a>
                        </div>
                    </div>
                    <div class="search">
                        <div class="search_icon"><i class="fa-solid fa-magnifying-glass"></i></div>
                        <input type="text" name="search" id="searchbar" placeholder="Cerca o inizia una nuova chat">
                    </div>


                    <div class="open_contacts">
                        <div class="friend" v-for="(item, index) in contacts" @click="showConversation(index)">
                            <div class="friend_icon">
                                <img :src="item.avatar" alt="avatar">
                            </div>
                            <div class="friend_name">
                                <span>{{item.name}}</span>
                                <span><small>Ultimo messaggio ricevuto</small></span>
                            </div>
                            <div class="last_sms"><span><small>12.00</small></span></div>
                            
                        </div>
                    </div>
                </div>
            </div>
                    <!-- ...CONTACTS-LIST/// -->
                    <!-- ACTIVE-CONTACT -->
            <div class="right_box" v-if="activeContact">
                <div class="header">
                    <div class="friend">
                        <div class="friend_icon">
                            <img :src="activeContact.avatar" alt="avatar">
                        </div>
                        <div class="friend_name">
                            <span>{{activeContact.name}}</span>
                            <span><small>Ultimo messaggio oggi alle 12:00</small></span>
                        </div>
                        <!-- contact-options -->
                        <div class="right_header_icons">
                            <div><i class="fa-solid fa-magnifying-glass"></i></div>
                            <div><i class="fa-solid fa-paperclip"></i></div>
                            <div><i class="fa-solid fa-ellipsis-vertical"></i></div>
                        </div>
                        <!-- /contact-options -->
                    </div>
                </div>
                
                <div class="main" v-if="activeContact">
                    <!-- main-chat -->
                    <div>
                        <div class="get_row" v-for="(message, index) in activeContact.messages">
                            <div class="sms_get get_color" :class="message.type">
                                <span class="sms_text">{{message.message}}</span>   <!-- received-message-row -->
                                <span class="sms_clock"><small></small></span>
                            </div>
                        </div>
                        
                        <div class="sent_row">
                            <div class="sms_sent sent_color">
                                <span class="sms_text">{{new_sms}}</span>      <!-- sent-message-row -->
                                <span class="sms_clock"><small></small></span>     
                            </div>
                        </div>
                    </div>
                    <!-- /main-chat -->
                </div>
                <div class="footer">
                    <div><i class="fa-regular fa-face-smile"></i></div>
                    <div><input @keyup.enter="sendNew" v-model="new_sms" type="text" name="search" id="footer_searchbar" placeholder="Scrivi un messaggio"></div>
                    <div><i class="fa-solid fa-microphone"></i></div>
                </div>
                <!-- ...ACTIVE-CONTACT/// -->
            </div>
        </div>
        <!-- ...VUEJs-DOOR/// -->
    </div>
        

        <!-- script-vue-mdn -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
        <!-- main-Javascript -->
    <script src="js/main.js"></script>
</body>
</html>