<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer">
    <link rel="stylesheet" href="css/style.css">
    <title>Boolzapp</title>
</head>
<body>
    <div class="container">
        <div id="app">
            <div class="left_box">
                <div class="contacts_header">
                    <div class="user_avatar">
                        <img src="img/01.jpg" alt="friend">
                    </div>
                    <div class="friend_name">
                        <span>Marcof</span>
                    </div>
                    <div class="right_header_icons">
                        <div><i class="fa-solid fa-magnifying-glass"></i></div>
                        <div><i class="fa-solid fa-paperclip"></i></div>
                        <div><i class="fa-solid fa-ellipsis-vertical"></i></div>
                    </div>
                </div>
                <div class="user">
                    <div class="alerts">
                        <div class="alert_icon">
                            <i class="fa-solid fa-bell-slash"></i>
                        </div>
                        <div class="friend_name">
                            <span>Ricevi notifiche di nuovi messaggi</span>
                            <a><small>Attiva notifiche desktop</small></a>
                        </div>
                    </div>
                    <div class="search">
                        <div class="search_icon"><i class="fa-solid fa-magnifying-glass"></i></div>
                        <input type="text" name="search" id="searchbar" placeholder="Cerca o inizia una nuova chat">
                    </div>


                    <div class="open_contacts">
                        <div class="friend" v-for="(item, i) in contacts" @click="selContact(i, event)">
                            <div class="friend_icon">
                                <img :src="item.avatar" alt="avatar">
                            </div>
                            <div class="friend_name">
                                <span>{{item.name}}</span>
                                <span><small>Ultimo messaggio ricevuto</small></span>
                            </div>
                            <div class="last_sms"><span><small>12.00</small></span></div>
                            
                        </div>
                    </div>
                </div>
            </div>

            <div class="right_box">
                <div class="header">
                    <div class="friend">
                        <div class="friend_icon">
                            <img :src="contacts[active].avatar" alt="avatar">
                        </div>
                        <div class="friend_name">
                            <span>{{contacts[0].name}}</span>
                            <span><small>Ultimo messaggio oggi alle 12:00</small></span>
                        </div>
                        <div class="right_header_icons">
                            <div><i class="fa-solid fa-magnifying-glass"></i></div>
                            <div><i class="fa-solid fa-paperclip"></i></div>
                            <div><i class="fa-solid fa-ellipsis-vertical"></i></div>
                        </div>
                    </div>
                </div>
                <div class="main">

                    <div class="sent_row">
                        <div class="sms_sent sent_color">
                            <span class="sms_text">Hai finito in tempo la milestone 1?</span>
                            <span class="sms_clock"><small>20:00</small></span>
                        </div>
                    </div>
                    

                    <div class="get_row" v-for="(item, i) in messages">
                        <div class="sms_get get_color">
                            <span class="sms_text">{{item.message}}</span>
                            <span class="sms_clock"><small>20:00</small></span>
                        </div>
                    </div>
                    
                </div>
                <div class="footer">
                    <div><i class="fa-regular fa-face-smile"></i></div>
                    <div><input type="text" name="search" id="footer_searchbar" placeholder="Cerca o inizia una nuova chat" v-model="new_sms"></div>
                    <div><i class="fa-solid fa-microphone"></i></div>
                </div>
            </div>
        </div>
    </div>
        


    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="js/main.js"></script>
</body>
</html>