<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="css/style.css">
    <title>Boolzapp</title>
</head>

<body>
    <div id="screen">
        <!-- VUE DOOR -->
        <div id="app">
            <!-- LEFT BOX  -->
            <div id="contacts_box">
                <!-- CONTACTS HEADER  -->
                <div class="header">
                    <div class="profile_image">
                        <img src="img/avatar_4.jpg" alt="myImg">
                    </div>
                    <div class="user_name">
                        Marcof
                    </div>
                    <div class="icons">
                        <i class="fa-solid fa-circle-notch"></i>
                        <i class="fa-solid fa-message"></i>
                        <i class="fa-solid fa-ellipsis-vertical"></i>
                    </div>
                </div>
                <!-- /CONTACTS HEADER  -->
                <!-- CONTACTS MAIN  -->
                <div class="main">
                    <!-- ALERTS AREA  -->
                    <div class="alert">
                        <div class="alert_icon"><i class="fa-solid fa-bell-slash"></i></div>
                        <div>
                            <div>Ricevi notifiche di nuovi messaggi</div>
                            <div><a href="#">Attiva notifiche desktop</a></div>
                        </div>
                    </div>
                    <!-- /ALERTS AREA  -->
                    <!-- SEAR(C)HAT  -->
                    <div class="search_bar">
                        <label class="none" for="user_search">Search User</label>
                        <input type="text" name="user_search" id="user_search" placeholder="&#xF002; Search" style="font-family:Arial, FontAwesome;">
                    </div>
                    <!-- /SEAR(C)HAT -->
                    <!-- CHAT LIST -->
                    <div class="user_list">
                        <div class="user" v-for="contact in contacts">
                            <div class="profile_image">
                                <img :src="contact.avatar" alt="image">
                            </div>
                            <div class="message_name">
                                <div>{{contact.name}}</div>
                                <div class="text_small">Ultimo messaggio</div>
                            </div>
                            <div class="info text_small">3.30</div>
                        </div>
                    </div>
                    <!-- /CHAT LIST -->
                </div>
                <!-- /CONTACTS MAIN  -->
            </div>
            <!-- /LEFT BOX  -->

            <!-- RIGHT BOX  -->
            <div id="chat_box" v-for="user in contacts">
                <!-- CHAT HEADER  -->
                <div class="header">
                    <div class="profile_image">
                        <img :src="user.avatar" alt="img">
                    </div>
                    <div class="user_name">
                        <div class="name">{{user.name}}</div>
                        <div class="small_text">Ultimo accesso</div>
                    </div>
                    <div class="icons">
                        <i class="fa-solid fa-magnifying-glass"></i>
                        <i class="fa-solid fa-paperclip"></i>
                        <i class="fa-solid fa-ellipsis-vertical"></i>
                    </div>
                </div>
                <!-- /CHAT HEADER  -->
                <!-- MAIN CHAT  -->
                <div class="main">
                    <div class="message_row" v-for="message in user.messages">
                        <div class="message_body" :class="message.status">
                            <div>{{message.message}}</div>
                            <div class="data_message smaller_text">12:09</div>
                        </div>
                    </div>
                </div>
                <!-- /MAIN CHAT  -->
                <!-- SEND MESSAGE  -->
                <div class="footer">
                    <div><i class="fa-regular fa-face-smile"></i></div>
                    <label class="none" for="message">message</label>
                    <input type="text" name="message" id="message">
                    <div><i class="fa-solid fa-microphone"></i></div>
                </div>
                <!-- /SEND MESSAGE  -->
            </div>
            <!-- /RIGHT BOX  -->
        </div>
        <!-- /VUE DOOR-->
    </div>

    <!-- VUE JS -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <!-- /MAIN JAVASCRIPT --->
    <script src="js/main.js"></script>
    <!-- /MAIN JAVASCRIPT --->

</body>
</html>